body {
  background: #fff;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 10px;
  margin-left: -8px;
  margin-right: -8px;
  background: #f1f0f0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header .arrowleft {
  font-family: arial black;
  font-size: 28px;
  color: rgba(8, 8, 138, 0.808);
}

header .arrowleft > a {
  text-decoration: none;
  color: rgba(8, 8, 138, 0.808);
}

header .btnn {
  background: transparent;
  color: rgba(8, 8, 138, 0.808);
  border: 2px solid rgba(8, 8, 138, 0.808);
  float: right;
  padding: 5px 19px;
  margin-top: -28px;
  margin-right: 30px;
  overflow: hidden;
}

.space1000 {
  margin-top: 100px;
}

.justifythem {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.git {
  font-family: arial black;
  font-size: 55px;
  color: navy;
  letter-spacing: 4px;
}

.free {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0px;
  letter-spacing: 4px;
  color: #222;
  font-size: 20px;
  font-family: calibri;
}

.contact_container {
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: rgba(236, 235, 235, 0.671);
  border: 0px;
  text-align: left;
  padding: 7px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 1px 2px rgba(75, 70, 70, 0.637);
          box-shadow: 0px 1px 1px 2px rgba(75, 70, 70, 0.637);
}

.contact_container .con_me {
  color: navy;
  font-family: bahnschrift;
  font-size: 19px;
}

.contact_container label {
  font-family: calibri;
  font-size: 17px;
  font-weight: bold;
  color: #222;
}

.contact_container .inp {
  width: 98%;
  padding: 9px 3px;
  border: 1px solid #b6b2b2;
}

.contact_container .btn_sub {
  vertical-align: center;
  color: #fff;
  background: blue;
  border: 0px;
  font-family: bahnschrift;
  font-size: 17px;
  padding: 5px 50px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.589);
          box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.589);
}

footer {
  background: #e0dfdf;
  width: auto;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -8px;
}

/*for screen below 850px*/
@media only screen and (max-width: 850px) {
  header {
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 10px;
    margin-left: -8px;
    margin-right: -8px;
    background: #f1f0f0;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header .arrowleft {
    font-family: arial black;
    font-size: 25px;
    color: rgba(8, 8, 138, 0.808);
  }
  header .arrowleft > a {
    text-decoration: none;
    color: rgba(8, 8, 138, 0.808);
  }
  header .btnn {
    background: transparent;
    color: rgba(8, 8, 138, 0.808);
    border: 1px solid rgba(8, 8, 138, 0.808);
    float: right;
    padding: 5px 19px;
    margin-top: -29px;
    margin-right: 30px;
    overflow: hidden;
  }
  .git {
    font-family: arial black;
    font-size: 20px;
    color: navy;
    letter-spacing: 2px;
  }
  .free {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0px;
    letter-spacing: 0px;
    color: #222;
    font-size: 11px;
    font-family: calibri;
  }
  .contact_container {
    width: 80%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: rgba(236, 235, 235, 0.671);
    border: 0px;
    text-align: left;
    padding: 7px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 1px 2px rgba(75, 70, 70, 0.637);
            box-shadow: 0px 1px 1px 2px rgba(75, 70, 70, 0.637);
  }
  .contact_container .con_me {
    color: navy;
    font-family: bahnschrift;
    font-size: 17px;
  }
  .contact_container label {
    font-family: calibri;
    font-size: 15px;
    font-weight: bold;
    color: #222;
  }
  .contact_container .inp {
    width: 98%;
    padding: 9px 3px;
    border: 1px solid #b6b2b2;
  }
  .contact_container .btn_sub {
    vertical-align: center;
    color: #fff;
    background: blue;
    border: 0px;
    font-family: bahnschrift;
    font-size: 17px;
    padding: 5px 50px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.589);
            box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.589);
  }
}
/*# sourceMappingURL=contactpage.css.map */